* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* sfondo pagina */
header {
    height: 120px;
    background-color: #009688;
}

main {
    height: calc(100vh - 120px);
    background-color: #dadbd4;
}

/* container */
#container_wa {
    height: calc(100vh - 40px);
    width: 80%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid red;
    display: flex;
}

/* contenuto a sinistra */
#content_left {
    border: 1px solid red;
    flex-basis: calc(100% / 10 * 4);
}

/* contenuto a destra */
#content_right {
    border: 1px solid red;
    flex-basis: calc(100% / 10 * 6);
}