<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzap</title>
</head>
<body>

    <div id="root">

        <!-- Sfondo verde -->
        <header></header>

        <!-- Main usato per sfondo grigio -->
        <main>

            <!-- Container per tutto boolzapp-->
            <div id="container_wa">

                <!-- Parte sinistra -->
                <div id="content_left">

                    <div class="cl_myProfile">
                        <div class="myProfile_myData">
                            <div class="myData_pic">
                                <img src="img/avatar_io.jpg" alt="My profile pic" />
                            </div>
                            <div class="myData_name">Sofia</div>
                        </div>
                        <div class="myProfile_icons">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="cl_notifications">
                        <div class="notif_icon">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="notif_text">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <p>Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <div class="cl_search">
                        <div class="search_icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <!-- Milestone_4: aggiunti eventi al click e alla pressione del tasto invio per la ricerca del nome -->
                        <input class="search_input" type="text" v-model="search" v-on:click="deletePlaceholderSearch" @keyup.enter="searchContact"/>
                    </div>

                    <div class="cl_contactsChatsContainer">
                        <!-- Milestone_1: ciclo il div di un contatto generico per creare tutti gli altri contatti contenuti nell'array -->
                        <!-- Milestone_2: con v-bind aggiungo uno sfondo grigio sull'elemento cliccato -->
                        <!-- Milestone_4: aggiungendo un'altra condizione al v-bind:class; oppure avrei potuto inserire: v-if="contact.visible==true" al posto del secondo v-bind; -->
                        <div class="cl_contactChat" v-for="(contact, index) in contacts" @click="getSelectedContact(index)" v-bind:class=" [selectedContact!=index?'':'active_contact', contact.visible?'':'is_hidden'] ">
                            <div class="contactChat_pic">
                                <!-- Rendo dinamici gli attributi con v-bind -->
                                <img v-bind:src=" 'img/avatar' + contact.avatar + '.jpg' " v-bind:alt=" 'Profile picture of ' + contact.name ">
                            </div>
                            <div class="contactChat_info">
                                <!-- Per inserire in html un dato ciclato uso la sintassi {{..}} -->
                                <div class="contactChat_name">{{contact.name}}</div>
                                <div class="contactChat_lastMsgSent">{{contact.visible}}</div>
                                <div class="contactChat_lastTime">placeholder</div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- Parte destra -->
                <div id="content_right">

                    <div class="cr_contact">
                        <div class="cl_myProfile">
                            <div class="myProfile_myData">
                                <div class="myData_pic">
                                    <!-- Rendo dinamica l'immagine e attributo alt-->
                                    <img v-bind:src=" 'img/avatar' + contacts[selectedContact].avatar + '.jpg' " v-bind:alt=" 'Profile picture of ' + contacts[selectedContact].name " />
                                </div>
                                <div class="contactChat_selected">
                                    <!-- Rendo dinamico il nome -->
                                    <div class="contactChat_name">{{contacts[selectedContact].name}}</div>
                                    <div class="contactChat_lastMsgSent">Ultimo accesso oggi</div>
                                </div>
                            </div>
                            <div class="myProfile_icons">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                    </div>
                    <div class="cr_chat">
                        <!-- Milestone_2: aggiunta visualizzazione dinamica dei messaggi in base al contatto scelto -->
                        <div v-for="message in contacts[selectedContact].messages" class="msg" v-bind:class=" (message.status=='sent')?'msg_sent':'msg_received' ">
                            <p>{{message.message}}</p>
                            <p class="msg_time">{{message.date}}</p>
                        </div>
                    </div>
                    <div class="cr_input">
                        <div>
                            <div>
                                <i class="fa-solid fa-face-sad-cry"></i>
                            </div>
                        </div>
                        <div class="userNewMsg">
                            <!-- Milestone_3.1: aggiungo un evento alla pressione di 'invio' che mi crea un messaggio -->
                            <input class="userNewMsg_input" type="text" v-model="newMessage" @click="deletePlaceholderNm" @keyup.enter="createNewMessage" />
                        </div>
                        <div>
                            <i class="fa-solid fa-microphone" @click="getDate"></i>
                        </div>
                    </div>

                </div>

            </div>

        </main>

    </div>

    <!-- Libreria per le date -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.0.1/build/global/luxon.min.js"></script> 
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>